*{
    margin:0;
    padding:0;
    box-sizing: border-box;}

body{
    background-color: rgb(250, 247, 200);
    overflow:hidden;
    width:100%;
}

.nav1{
    min-width:100%;
    background-color: rgb(224, 173, 97);
}

#advice_div{
    margin:auto;
    margin-top:4%;
    width:fit-content;
}

#advice{
    font-size:4vh;
    word-wrap: break-word;
}

.butt{
    transition:1s;
    display:block;
    margin:auto;
    margin-top:3%;
    padding-left:3%;
    padding-right:3%;
    padding-top:3%;
    padding-bottom:3%;
    font-size:4vh;
    background-color: darkred;
    color:white;
    min-width:30%;
    min-width:30%;
    
}

.search{
    width:fit-content;
    margin:auto;
    margin-top:3%;
}

.butt:hover{
    transition:1s;
    color: black;
    text-shadow: mediumspringgreen;
    
}

